**/node_modules
*.env
**/logs
**/dist
**/lib
**/facturero-sri-vouchers
**/facturero-sri-vouchers-test
**/facturero-sri-storage
.vscode
.vscode/*.json
.DS_Store
.idea
*.log
*.tmp
**/*.p12
**/**/tsconfig.tsbuildinfo
**/packages/facturero-sri-api/tsconfig.tsbuildinfo
**/packages/facturero-sri-signer/tsconfig.tsbuildinfo